.movie_box {
  padding: 10px;
  border: 2px solid #009c7c;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer;
}
.movie_infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: monospace;
  font-size: 16px;
  color: #ffffff;
}
.movie_release,
.movie_title {
  text-align: center;
}
.movie_desc {
  padding: 0px 30px;
}
.movie_title {
  font-size: 26px;
}
.movie_poster img {
  border-radius: 10px;
}
.movie_info_block {
  padding: 30px 0px;
}
.movie_info_title {
  text-align: center;
  padding: 10px;
  background: rgba(0, 156, 124, 0.8);
  border-radius: 10px;
  margin-bottom: 15px;
  color: #fff;
  font-size: 24px;
  font-family: monospace;
  letter-spacing: 1px;
}
.movie_info_poster img {
  border: 5px solid #009c7c;
  border-radius: 10px;
}
.movie_info_box {
  border-radius: 10px;
  padding: 10px;
  background: rgba(0, 156, 124, 0.8);
}
.review_box {
  background: rgba(0, 156, 124, 0.8);
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  overflow-y: auto;
  height: 300px;
}
